<div class="content">
  <h4>Explanation</h4>
  <article>TODO</article>
  <h4>Legend</h4>
  <article>
    <md-list>
      <md-list-item> Type: E <i class="material-icons">arrow_forward</i> Engine </md-list-item>
      <md-list-item> Type: T <i class="material-icons">arrow_forward</i> Tool </md-list-item>
      <md-list-item> Type: S <i class="material-icons">arrow_forward</i> SceneEditor </md-list-item>
    </md-list>
  </article>
  <iframe src="https://docs.google.com/spreadsheets/d/1LOGsA0QqQ2pa75Td3gTpIvC5fNGvOBwJEKICGfOCXQI/pubhtml?widget=true&amp;headers=false"
    width="100%" height="450em">
  </iframe>
</div>