body {
    font-family:
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
        Cantarell, "Helvetica Neue", Arial, sans-serif;
}

ul {
    list-style: disclosure-closed;
}

main {
    max-width: 30rem;
    margin: auto;
}

h1,
h2 {
    margin-top: 5rem;
    text-align: center;
}

a,
a:visited {
    color: #0202ee;
    text-decoration: none;
}
