.footer {
    text-align: left;
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
    color: black;
    text-decoration: none;
    background-color: #a8c2f0;
}

menu {
  background-color: #a8c2f0;
  padding: 10px;
}