---
const props = Astro.props;
---

<button {...props}><slot /></button>

<style>
    button {
        border: 0;
        background-color: var(--primary-color);
        color: var(--primary-color-contrast);
        padding: 0.5rem;
        border-radius: 0.5rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
        position: relative;
    }

    button:hover {
        background-color: var(--secondary-color);
    }

    button:disabled {
        background: lightgray;
        color: gray;
        border: 0;
        cursor: unset;
    }
</style>
